/* @import './../node_modules/@alstar/ui/red.css'; */
@import 'https://esm.sh/@alstar/ui/red.css';
@import './admin-panel.css';
@import './entry.css';
@import './blocks.css';
@import './settings.css';

body {
  min-height: 100vh;
}

body {
  padding: 0;
  min-height: inherit;

  display: grid;
  grid-template-columns: auto 1fr;
  align-content: baseline;

  > main {
    padding: 40px;
    height: 100vh;
    overflow: auto;

    section {
      max-width: 900px;
      margin: 0 auto;
    }
  }
}

.entry > .fields > .block {
  padding-block: var(--pico-spacing);

  > header {
    margin-block: var(--pico-block-spacing-vertical);
  }
}

.block {
  > header {
    margin-bottom: var(--pico-spacing);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: inherit;

    h6,
    h5,
    fieldset {
      margin-bottom: 0;
    }

    button {
      padding: 0;
      background-color: white;

      svg {
        padding: 8px;
      }
    }
  }
}

[data-sortable] {
  > article {
    transition: opacity 200ms;
  }

  .sortable-ghost {
    opacity: 0.3;
  }

  /* .sortable-chosen {
    filter: brightness(0.9)
  } */
}

div.ink-mde {
  border: var(--pico-border-width) solid #2a3140;
  border-radius: var(--pico-border-radius);
  outline: 0;
  background-color: var(--pico-background-color);
  box-shadow: var(--pico-box-shadow);
  color: var(--pico-color);
}

.ink-mde-textarea {
  width: 100%;
}

.disclamer {
  display: flex;
  justify-content: center;
}

.text-secondary {
  color: var(--pico-secondary);
}
