.admin-panel {
  padding: 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  height: 100%;
  min-height: inherit;
  min-width: 250px;

  border-right: 1px solid var(--quiet-neutral-stroke-soft);

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;

    .title {
      margin: 0;

      a {
        display: flex;
      }

      svg {
        height: 1.6rem;
        width: auto;
      }
    }
  }

  form {
    p {
      margin: 0;

      small {
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
        opacity: 0.6;
      }
    }
  }

  #entries {
    width: 100%;
    user-select: none;

    ul {
      margin-inline: -1rem;

      form {
        display: flex;
        padding-right: 0.5rem;
        align-items: center;
      }

      > li {
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        a {
          text-decoration: none;
          width: 100%;
          padding: 0.5rem 1rem;
        }
      }
    }
  }

  > footer {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}

#entries ul {
  > li:not(:hover) {
    form {
      opacity: 0;
    }
  }

  > li:hover {
    background-color: color-mix(
      in oklab,
      transparent,
      var(--quiet-text-body) 5%
    );
  }
}
