.admin-panel {
  padding: 40px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  height: 100%;
  min-height: inherit;
  min-width: 250px;

  border-right: 1px solid var(--pico-muted-border-color);

  /* .toggle-button {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
    padding: 0.2rem;
  } */

  header {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1rem;
    
    .title {
      margin: 0;
  
      a {
        display: flex;
      }
  
      svg {
        height: 1.6rem;
        width: auto;
      }
    }
  }


  form {
    padding-bottom: 1rem;

    button {
      margin: 10px 0px 20px;
    }

    p {
      margin: 0;

      small {
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
        opacity: 0.6;
      }
    }
  }

  #entries {
    width: 100%;
    user-select: none;

    ul {
      padding: 0;
      margin-inline: -1rem;

      form {
        display: flex;
        padding-bottom: 0;

        button {
          margin: 0;
        }
      }

      > li {
        margin-bottom: 0px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        list-style: none;
        padding: 0;

        a {
          text-decoration: none;
          width: 100%;
          padding: 0.5rem 1rem;
        }

        button {
          border-radius: 7px;
          opacity: 0;
          transition: opacity 100px;

          svg {
            margin: 0.5rem 1rem;
          }
        }
      }
    }
  }

  > footer {
    margin-top: auto;
  }
}

#entries ul {
  > li:hover {
    background-color: var(--pico-form-element-background-color);

    button {
      opacity: 1;
    }
  }
}
