.blocks-field {
  > header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: sticky;
    top: 0;
    z-index: 3;
    background: var(--pico-background-color);
    border-bottom: 1px solid var(--pico-muted-border-color);

    padding: 1rem;

    p {
      margin: 0;
    }

    > form fieldset {
      button {
        padding-inline: 1rem;
      }
    }

    details {
      margin: 0;

      form {
        display: flex;
      }

      button {
        width: 100%;
        margin-bottom: 0;
        text-align: left;
      }

      summary + ul {
        right: 0;
        left: auto;
      }
    }
  }

  > header:after {
    content: '';
    position: absolute;
    background-color: var(--pico-background-color);
    height: 100%;
    width: 200%;
    left: -50%;
    z-index: -1;
  }

  article {
    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      aside {
        display: flex;
        align-items: center;
        gap: 5px;
      }

      button {
        margin: 0;
        padding: 0;

        svg {
          padding: 5px;
        }
      }
    }
  }
}
