.blocks-field {
  > header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: var(--quiet-background-color);
    border-bottom: 1px solid var(--quiet-neutral-stroke-soft);

    padding-left: 0.5rem;

    p {
      margin: 0;
    }
  }

  .blocks-field {
    padding-inline: 0.5rem;
  }

  article {
    background-color: var(--quiet-background-color);
    border-bottom: 1px solid var(--quiet-neutral-stroke-soft);

    > header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      background-color: var(--quiet-neutral-fill-softer);
      padding-left: 0.5rem;

      p {
        margin: 0;
      }

      aside {
        display: flex;
        align-items: center;
      }
    }

    > .blocks-field-content {
      border-top: 1px solid var(--border-color);
    }
  }

  article:last-of-type {
    border-bottom: none;
  }
}
