.entry {
  height: 100%;
  overflow: auto;

  .content {
    overflow: auto;
  }
}

.entry-header {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  height: calc(var(--unit) * 2);
  padding-inline: calc(var(--unit) * 0.5);
  border-bottom: 1px solid var(--border-color);

  background-color: var(--quiet-neutral-fill-softer);

  position: sticky;
  top: 0;
  z-index: 1;

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span {
      color: var(--quiet-text-muted);
    }
  }

  h1 {
    margin: 0;
  }

  aside {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}
