.entries-container {
  display: grid;
  grid-template-columns: minmax(200px, auto) 1fr;
  overflow: auto;

  > ul {
    margin: 0;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;

    border-right: 1px solid var(--border-color);

    li {
      list-style: none;
      padding-inline: 2rem;
    }

    quiet-button {
      width: 100%;
    }

    quiet-button::part(button) {
      justify-content: flex-start;
    }
  }
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 0.5rem;
  padding-bottom: 0;

  vscode-table {
    margin-block: var(--unit);
  }

  .pagination {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    padding-bottom: var(--unit);
  }

  quiet-pagination {
    margin: auto;
  }
}
