.entry {
  height: 100%;
  overflow: auto;
}

.entry-header {
  display: flex;
  align-items: center;
  height: calc(var(--unit) * 2);
  /* padding-inline: calc(var(--unit) * 0.5); */
  border-bottom: 1px solid var(--border-color);

  background-color: var(--quiet-neutral-fill-softer);

  position: sticky;
  top: 0;
  z-index: 1;

  p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-inline: calc(var(--unit) * 0.5);

    span {
      color: var(--quiet-text-muted);

      quiet-relative-time,
      quiet-date {
        color: var(--quiet-text-body);
      }
    }

    span:nth-of-type(2) {
      margin-inline: 0.5rem;
    }
  }

  h1 {
    margin: 0;
  }

  aside {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  quiet-popover::part(content) {
    width: 100px;
    padding: 0.5rem;
  }
}
