.entries-container {
  display: flex;
  flex-direction: column;
  overflow: auto;

  vscode-table-header-cell:last-of-type {
    text-align: end;
  }
  
  vscode-table-cell:last-of-type {
    text-align: end;
  }
}

.toolbar {
  padding: 0.5rem;
  padding-bottom: 0;
}

.entries {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding-inline: 0.5rem;

  vscode-table {
    margin-block: var(--unit);
  }

  .pagination {
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 0;
    margin-top: auto;
    padding-bottom: var(--unit);
  }

  quiet-pagination {
    margin: auto;
  }
}
