.entry {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;

  > header {
    border-bottom: 1px solid var(--quiet-neutral-stroke-soft);
    padding: 1rem;

    h1 {
      font-size: 0.75rem;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .content {
    overflow: auto;
  }

  > .fields > .block {
    > header {
      margin-block: var(--pico-block-spacing-vertical);
    }
  }

  .field {
    padding-top: 1rem;
    padding-inline: 1rem;
  }
}
