.entry {
  height: 100%;
  overflow: auto;

  > header {
    display: flex;
    align-items: center;
    height: calc(var(--unit) * 2);
    padding-inline: calc(var(--unit) * 0.5);
    border-bottom: 1px solid var(--border-color);

    background-color: var(--quiet-neutral-fill-softer);

    position: sticky;
    top: 0;
    z-index: 1;

    h1 {
      margin: 0;
    }
  }

  .content {
    overflow: auto;
  }
}
