main:has(#explorer) {
  --explorer-width: calc(var(--unit) * 2);
  --explorer-transition-duration: 100ms;
  --explorer-transition-ease: ease-out;

  display: grid;
  grid-template-columns: var(--explorer-width) 1fr;
  transition: grid-template-columns var(--explorer-transition-duration)
    var(--explorer-transition-ease);
}

main:has(#explorer:hover),
main:has(#explorer.locked) {
  --explorer-width: 150px;

  #explorer:after {
    scale: 0 1;
  }
}

#explorer {
  position: relative;
  height: inherit;
  overflow: clip;
  border-right: 1px solid var(--border-color);

  header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-bottom: 1px solid var(--border-color);
    height: calc(var(--unit) * 2);

    h1 {
      margin: 0;
    }
  }

  .icon {
    font-size: 15px;
    display: flex;
  }
}

vscode-tree {
  padding: 0.25rem;
}

vscode-tree-item {
  position: relative;

  a {
    position: absolute;
    inset: 0;
  }
}

wa-tree-item:not(:has(wa-tree-item)) {
  quiet-icon {
    margin-right: 0.5rem;
  }
}

wa-tree-item::part(expand-button) {
  rotate: none;
  height: 1rem;
}

wa-tree-item:not(:has(wa-tree-item))::part(item) {
  padding-left: 0.5rem;
}

wa-tree-item:not(:has(wa-tree-item))::part(expand-button) {
  display: none;
}
