.field {
  padding-inline: 1rem;
  
  .field-text {
    output {
      display: grid;
      max-height: 300px;
      margin-top: 1rem;
      
      svg {
        height: 100%;
        width: 100%;
      }
    }
  }
}