.live-preview {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;

  header {
    border-bottom: 1px solid var(--quiet-neutral-stroke-soft);
    padding: 1rem;

    h1 {
      font-size: 0.75rem;
      text-transform: uppercase;
      margin: 0;
    }
  }

  quiet-zoomable-frame,
  #frame-container,
  iframe {
    width: 100%;
    height: 100%;
  }
}
