.live-preview {
  width: 100%;
  height: 100%;
  border-left: 1px solid var(--pico-muted-border-color);
  
  display: grid;
  grid-template-rows: auto 1fr;
  
  header {
    border-bottom: 1px solid var(--pico-muted-border-color);
    padding: 1rem;

    h1 {
      font-size: 1rem;
      font-weight: normal;
      margin: 0;
      font-family: var(--pico-font-family-monospace);
    }
  }

  iframe {
    width: 100%;
    height: 100%;
  }
}