.live-preview {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-rows: auto 1fr;

  overflow: clip;

  > header {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    height: calc(var(--unit) * 2);
    border-bottom: 1px solid var(--border-color);

    background-color: var(--quiet-neutral-fill-softer);

    h1 {
      margin: 0;
    }
  }

  quiet-zoomable-frame,
  #frame-container,
  iframe {
    width: 100%;
    height: 100%;
  }
}
