:root {
  --ink-border-radius: 2px;
  --ink-font-family: var(--alstar-font-family);
  --ink-editor-line-height: 1.6;

  --ink-block-background-color-on-hover: var(--border-color);
  --ink-block-background-color: #3c3c3c;
  --ink-toolbar-group-spacing: var(--unit);
}

markdown-editor {
  display: flex;
  width: 320px;
  max-width: 100%;
}

.ink.ink-mde {
  border-width: 1px;
  background-color: #313131;
  max-width: inherit;

  .ink-mde-toolbar {
    padding: 0;

    .ink-button {
      min-height: auto;
      width: 1em;
      height: 1em;
      padding: 4px;
      box-sizing: content-box;

      svg {
        height: 15px;
        width: 15px;
      }
    }
  }

  .ink-mde-editor {
    padding: 3px 4px;
    min-height: 4lh;

    .cm-editor,
    .cm-scroller,
    .cm-content {
      min-height: inherit;
    }
  }
}
