settings-tabs {
  display: block;
  padding: 1rem;
  overflow: auto;
  height: 100vh;

  tr {
    quiet-text-field {
      width: 100%;
      font-family: monospace;
    }

    * {
      margin: 0;
    }
  }
}

.login-form {
  width: 100%;
}
