#settings {
  padding: 1rem;
  overflow: auto;
  height: 100vh;

  tr {
    input {
      width: 100%;
      font-family: var(--pico-font-family-monospace);
    }

    * {
      margin: 0;
    }
  }
}

.login-form {
  width: 100%;
}
