#settings {
  ul {
    padding: 0;
  }

  li {
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: 15% 1fr auto;
    gap: 1rem;
    border-bottom: 1px solid var(--pico-form-element-border-color);
    margin-bottom: 0;
    padding: 1rem 0;

    input {
      font-family: var(--pico-font-family-monospace);
    }

    * {
      margin-bottom: 0;
    }
  }
}

.login-form {
  width: 100%;
}