settings-tabs {
  display: block;
  overflow: auto;
  height: 100vh;

  quiet-tab-list::part(panels) {
    padding-block: 0;
  }

  quiet-tab {
    padding-block: 0;
    padding-inline: 0.5rem;
    border: 0;
    border-right: solid 1px var(--border-color);
    /* border-bottom-width: 1px; */
    width: 100%;
  }

  quiet-tab:last-of-type {
    border-right: 0;
  }

  quiet-tab:state(active) {
    background-color: var(--quiet-neutral-fill-softer);
  }

  tr {
    quiet-text-field {
      width: 100%;
      font-family: monospace;
    }

    * {
      margin: 0;
    }
  }
}

.login-form {
}
