.site-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  height: calc(var(--unit) * 2);
  padding-inline: calc(var(--unit) * 0.5);

  border-bottom: 1px solid var(--border-color);

  quiet-breadcrumb-item::part(label) {
    font-size: var(--unit);
  }

  quiet-dropdown {
    > quiet-button,
    > quiet-button::part(button) {
      display: flex;
      height: calc(var(--unit) * 2);
      min-height: auto;
    }
  }

  .logo {
    display: flex;

    svg {
      height: 1em;
    }
  }

  .secondary {
    quiet-button::part(button) {
      padding-inline: 0;
    }
  }

  quiet-breadcrumb {
    font-size: var(--unit);
  }

  quiet-breadcrumb-item.is-entry::part(label) {
    color: var(--quiet-text-body);
  }

  quiet-breadcrumb-item:not(.is-entry)::part(label) {
    color: var(--quiet-text-body);
  }
}
