:root {
  --spacing: 0.25rem;
}

.p-1 {
  padding: calc(var(--spacing) * 1);
}
.py-1 {
  padding-block: calc(var(--spacing) * 1);
}
.px-1 {
  padding-inline: calc(var(--spacing) * 1);
}
.pt-1 {
  padding-top: calc(var(--spacing) * 1);
}
.pr-1 {
  padding-right: calc(var(--spacing) * 1);
}
.pb-1 {
  padding-bottom: calc(var(--spacing) * 1);
}
.pl-1 {
  padding-left: calc(var(--spacing) * 1);
}

.m-1 {
  margin: calc(var(--spacing) * 1);
}
.my-1 {
  margin-block: calc(var(--spacing) * 1);
}
.mx-1 {
  margin-inline: calc(var(--spacing) * 1);
}
.mt-1 {
  margin-top: calc(var(--spacing) * 1);
}
.mr-1 {
  margin-right: calc(var(--spacing) * 1);
}
.mb-1 {
  margin-bottom: calc(var(--spacing) * 1);
}
.ml-1 {
  margin-left: calc(var(--spacing) * 1);
}

.p-2 {
  padding: calc(var(--spacing) * 2);
}
.py-2 {
  padding-block: calc(var(--spacing) * 2);
}
.px-2 {
  padding-inline: calc(var(--spacing) * 2);
}
.pt-2 {
  padding-top: calc(var(--spacing) * 2);
}
.pr-2 {
  padding-right: calc(var(--spacing) * 2);
}
.pb-2 {
  padding-bottom: calc(var(--spacing) * 2);
}
.pl-2 {
  padding-left: calc(var(--spacing) * 2);
}

.m-2 {
  margin: calc(var(--spacing) * 2);
}
.my-2 {
  margin-block: calc(var(--spacing) * 2);
}
.mx-2 {
  margin-inline: calc(var(--spacing) * 2);
}
.mt-2 {
  margin-top: calc(var(--spacing) * 2);
}
.mr-2 {
  margin-right: calc(var(--spacing) * 2);
}
.mb-2 {
  margin-bottom: calc(var(--spacing) * 2);
}
.ml-2 {
  margin-left: calc(var(--spacing) * 2);
}

.p-3 {
  padding: calc(var(--spacing) * 3);
}
.py-3 {
  padding-block: calc(var(--spacing) * 3);
}
.px-3 {
  padding-inline: calc(var(--spacing) * 3);
}
.pt-3 {
  padding-top: calc(var(--spacing) * 3);
}
.pr-3 {
  padding-right: calc(var(--spacing) * 3);
}
.pb-3 {
  padding-bottom: calc(var(--spacing) * 3);
}
.pl-3 {
  padding-left: calc(var(--spacing) * 3);
}

.m-3 {
  margin: calc(var(--spacing) * 3);
}
.my-3 {
  margin-block: calc(var(--spacing) * 3);
}
.mx-3 {
  margin-inline: calc(var(--spacing) * 3);
}
.mt-3 {
  margin-top: calc(var(--spacing) * 3);
}
.mr-3 {
  margin-right: calc(var(--spacing) * 3);
}
.mb-3 {
  margin-bottom: calc(var(--spacing) * 3);
}
.ml-3 {
  margin-left: calc(var(--spacing) * 3);
}

.p-4 {
  padding: calc(var(--spacing) * 4);
}
.py-4 {
  padding-block: calc(var(--spacing) * 4);
}
.px-4 {
  padding-inline: calc(var(--spacing) * 4);
}
.pt-4 {
  padding-top: calc(var(--spacing) * 4);
}
.pr-4 {
  padding-right: calc(var(--spacing) * 4);
}
.pb-4 {
  padding-bottom: calc(var(--spacing) * 4);
}
.pl-4 {
  padding-left: calc(var(--spacing) * 4);
}

.m-4 {
  margin: calc(var(--spacing) * 4);
}
.my-4 {
  margin-block: calc(var(--spacing) * 4);
}
.mx-4 {
  margin-inline: calc(var(--spacing) * 4);
}
.mt-4 {
  margin-top: calc(var(--spacing) * 4);
}
.mr-4 {
  margin-right: calc(var(--spacing) * 4);
}
.mb-4 {
  margin-bottom: calc(var(--spacing) * 4);
}
.ml-4 {
  margin-left: calc(var(--spacing) * 4);
}

.p-5 {
  padding: calc(var(--spacing) * 5);
}
.py-5 {
  padding-block: calc(var(--spacing) * 5);
}
.px-5 {
  padding-inline: calc(var(--spacing) * 5);
}
.pt-5 {
  padding-top: calc(var(--spacing) * 5);
}
.pr-5 {
  padding-right: calc(var(--spacing) * 5);
}
.pb-5 {
  padding-bottom: calc(var(--spacing) * 5);
}
.pl-5 {
  padding-left: calc(var(--spacing) * 5);
}

.m-5 {
  margin: calc(var(--spacing) * 5);
}
.my-5 {
  margin-block: calc(var(--spacing) * 5);
}
.mx-5 {
  margin-inline: calc(var(--spacing) * 5);
}
.mt-5 {
  margin-top: calc(var(--spacing) * 5);
}
.mr-5 {
  margin-right: calc(var(--spacing) * 5);
}
.mb-5 {
  margin-bottom: calc(var(--spacing) * 5);
}
.ml-5 {
  margin-left: calc(var(--spacing) * 5);
}
