.svg-output {
  max-width: 320px;

  p {
    color: var(--quiet-text-muted);
    margin-bottom: 0.5rem;
  }

  output {
    display: grid;
    max-height: 50px;

    padding: 3px 4px;
    border-radius: 2px;
    border: 1px solid var(--vscode-settings-textInputBorder);

    background: repeating-linear-gradient(
      130deg,
      var(--vscode-settings-textInputBackground),
      var(--vscode-settings-textInputBackground) 5px,
      var(--vscode-settings-textInputBorder) 5px,
      var(--vscode-settings-textInputBorder) 10px
    );

    svg {
      height: 100%;
      width: 100%;
    }
  }
}
