.cta {
  /* height: 2rem; */

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 0px var(--section-padding);

  a {
    display: inline-flex;
    align-items: center;
    /* border-right: 1px solid var(--border-color); */
    height: 2rem;

    white-space: nowrap;
  }

  copy-to-clipboard {
    height: 2rem;
    /* width: 100%; */

    /* background: var(--pico-code-background-color); */

    display: flex;
    align-items: center;

    code {
      /* padding: 0.5em 1em; */
    }

    code:before {
      content: '$';
    }

    button {
      display: inline-flex;
      /* margin-left: auto; */

      svg:last-of-type {
        display: none;
      }
    }
  }

  copy-to-clipboard.copied {
    button {
      background-color: greenyellow;
      color: green;

      svg:first-of-type {
        display: none;
      }

      svg:last-of-type {
        display: block;
      }
    }
  }
}
