.hero {
  padding-inline: var(--section-padding);
  padding-bottom: 0.5rem;

  header {
    height: 2rem;
    display: flex;
    align-items: center;
  }

  .logo {
    display: flex;
    height: 1rem;

    svg {
      height: 100%;
    }
  }

  p {
    margin-bottom: 0;
  }
}
