body {
  margin: 0;

  font-family: monospace;
  font-size: 15px;
  color: #333;

  text-rendering: geometricPrecision;
}

a {
  color: dodgerblue;
}

code {
  background-color: #eee;
  padding: 0.255rem 0.375rem;
  border-radius: 5px;
}

pre {
  code {
    line-height: 2;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background: #222;
    color: #eee;
  }

  a {
    color: lightskyblue;
  }

  code {
    background-color: #555;
  }
}

section.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;

  width: 100%;
  min-height: 100vh;
  padding-bottom: 10vh;
  margin-bottom: 0;

  font-size: 15px;

  div {
    > h1 {
      display: flex;
      justify-content: center;

      a {
        display: block;
        max-width: 150px;
        color: inherit;
      }

      svg {
        width: 100%;
      }
    }

    ol {
      margin-top: 2rem;
      padding-left: 1.2rem;

      li {
        line-height: 2;
        margin-bottom: 0.25rem;
      }
    }
  }
}
