.admin-panel {
  /* background: hsla(0, 0%, 0%, 0.1); */
  padding: 40px;

  height: 100%;
  min-height: inherit;

  min-width: 250px;

  > h1 {
    padding-bottom: 1rem;

    a {
      display: flex;
    }

    svg {
      height: 1.6rem;
    }
  }

  form {
    padding-bottom: 1rem;

    button {
      margin: 10px 0px 20px;
    }
  }

  #entries ul {
    padding: 0;
    margin-inline: -1rem;

    form {
      display: flex;
      padding-bottom: 0;

      button {
        margin: 0;
      }
    }

    > li {
      margin-bottom: 0px;
      border-radius: 8px;
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      list-style: none;

      a {
        text-decoration: none;
        width: 100%;
        padding: 0.5rem 1rem;
      }

      button {
        border-radius: 7px;
        opacity: 0;
        transition: opacity 100px;

        svg {
          margin: 0.5rem 1rem;
        }
      }
    }
  }
}

#entries ul {
  > li:hover {
    background-color: var(--pico-form-element-background-color);

    button {
      opacity: 1;
    }
  }
}
