@import 'https://esm.sh/@alstar/ui/red.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: slategray;
  padding: 10px;
  height: 100vh;
}

.layout {
  height: 100%;
  display: grid;
  grid-template-columns: 250px 1fr;
}

.canvas {
  background: white;
  border-radius: 10px;
  padding: 10px;
}

.main-menu {
  padding-right: 10px;

  > h1 {
    margin: 0;

    a {
      display: flex;
      width: 100px;
    }
  }
}
