@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('Inter_18pt-SemiBold.ttf') format('woff2');
}

:root {
  font-family: 'Inter';
  font-variant-numeric: tabular-nums slashed-zero;
  text-rendering: geometricPrecision;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  user-select: none;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  color-scheme: dark;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  gap: 6px;

  font-size: 12px;
  color: #ccc;

  padding: 6px;

  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

* {
  color: inherit;
  font: inherit;
  box-sizing: border-box;
}

p {
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}
