@import './css/typography.css';

@import './css/admin-panel.css';
@import './css/blocks-field.css';
@import './css/settings.css';
@import './css/live-preview.css';
@import './css/entry-page.css';
@import './css/entry.css';
@import './css/field.css';
@import './css/setup.css';
@import './css/markdown.css';
@import './css/entries.css';
@import './css/explorer.css';

@import './css/site-header.css';

@font-face {
  font-family: 'Inter';
  src: local('Inter'), url('fonts/Inter_18pt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: local('Inter'), url('fonts/Inter_18pt-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: local('Inter'), url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src: local('Inter'), url('fonts/Inter_18pt-Bold.ttf') format('truetype');
}

:root {
  --alstar-font-family: 'Inter';

  --quiet-font-family: var(--alstar-font-family);
  --quiet-border-radius-sm: 0;
  --quiet-border-radius-md: 0;

  --wa-tooltip-border-radius: 0;

  --vscode-font-family: var(--alstar-font-family);
  --vscode-font-size: 12px;

  --border-color: var(--quiet-neutral-stroke-softer);

  --alstar-split-pane-border: var(--border-color);

  --unit: 0.75rem;
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

body {
  height: 100vh;
  overflow: clip;

  > main {
    width: 100%;
    height: 100vh;
  }

  > main:has(.site-header) {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

alstar-split-pane {
  display: block;
  height: 100%;
}

.contents {
  display: contents;
}

.page {
  height: inherit;
}

.profile {
  padding: 0.5rem;
}

.page:has(.site-header) {
  display: grid;
  grid-auto-rows: auto 1fr;
}

.sr-only {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

quiet-tooltip {
  pointer-events: none;
}

wa-tooltip::part(body) {
  padding: 0.15em 0.5em;
  font-size: 0.875em;
}

.background-pattern {
  background-color: var(--quiet-background-color);
  background-image: radial-gradient(
    var(--quiet-neutral-700) 0.5px,
    var(--quiet-background-color) 0.5px
  );
  background-size: 50px 50px;
}

.background-gradient {
  background: radial-gradient(
    125% 125% at 50% 10%,
    var(--quiet-neutral-950) 40%,
    var(--quiet-neutral-900) 100%
  );
}

.block {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: inherit;

    h6,
    h5,
    fieldset {
      margin-bottom: 0;
    }

    button {
      padding: 0;
      background-color: white;

      svg {
        padding: 8px;
      }
    }
  }
}

[data-sortable] {
  > article {
    transition: opacity 200ms;
  }

  .sortable-ghost {
    opacity: 0.3;
  }
}

wa-tree {
  --wa-color-neutral-fill-quiet: transparent;
  --wa-color-brand-fill-loud: transparent;

  --indent-size: 12px;
  --indent-guide-width: 1px;
  --indent-guide-offset: 0.5rem;

  --wa-color-text-normal: var(--quiet-text-body);
  --wa-color-surface-border: var(--quiet-neutral-stroke-softer);
  --wa-color-text-quiet: var(--quiet-text-body);

  --wa-font-size-m: 12px;
}

vscode-tree-item {
  position: relative;

  a {
    position: absolute;
    inset: 0;
  }
}

wa-tree-item:not(:has(wa-tree-item)) {
  quiet-icon {
    margin-right: 0.5rem;
  }
}

wa-tree-item::part(expand-button) {
  rotate: none;
  height: 1rem;
}

wa-tree-item:not(:has(wa-tree-item))::part(item) {
  padding-left: 0.5rem;
}

wa-tree-item:not(:has(wa-tree-item))::part(expand-button) {
  display: none;
}
