@import './css/spacing.css';
@import './css/typography.css';

@import './css/blocks-field.css';
@import './css/settings.css';
@import './css/live-preview.css';
@import './css/entry-page.css';
@import './css/entry.css';
@import './css/field.css';
@import './css/setup.css';
@import './css/markdown.css';
@import './css/entries.css';
@import './css/explorer.css';
@import './css/tabs.css';
@import './css/media-library.css';

@import './css/svg-output.css';

@import './css/site-header.css';

@font-face {
  font-family: 'Inter';
  src:
    local('Inter'),
    url('fonts/Inter_18pt-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src:
    local('Inter'),
    url('fonts/Inter_18pt-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src:
    local('Inter'),
    url('fonts/Inter_18pt-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-weight: 700;
  src:
    local('Inter'),
    url('fonts/Inter_18pt-Bold.ttf') format('truetype');
}

:root {
  --alstar-font-family: 'Inter';
  --alstar-font-size: 12px;
  --alstar-split-pane-border: var(--border-color);
  --alstar-foreground: #cccccc;

  --quiet-font-family: var(--alstar-font-family);
  --quiet-font-size: var(--alstar-font-size);
  
  --quiet-border-radius-sm: 0;
  --quiet-border-radius-md: 0;
  --quiet-border-radius-pill: 0;

  --quiet-form-control-height-md: 2.25rem;

  --vscode-font-family: var(--alstar-font-family);
  --vscode-font-size: var(--alstar-font-size);
  --vscode-foreground: var(--alstar-foreground);

  --vscode-settings-textInputBackground: #313131;
  --vscode-settings-textInputBorder: #3c3c3c;

  --border-color: var(--quiet-neutral-stroke-softer);

  --unit: 0.75rem;
}

html.is-changing .transition-fade {
  transition: opacity 0.25s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

html {
  font-size: var(--alstar-font-size);
  font-family: var(--alstar-font-family);
  font-variant-numeric: tabular-nums slashed-zero;
  color: var(--alstar-foreground);

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  text-rendering: geometricPrecision;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

body {
  height: 100vh;
  overflow: clip;
  margin: 0;

  > main {
    width: 100%;
    height: 100vh;
  }

  > main:has(.site-header) {
    display: grid;
    grid-template-rows: auto 1fr;
  }
}

* {
  font-size: 1rem;
  box-sizing: border-box;
}

.contents {
  display: contents;
}

.page {
  height: 100vh;
}

.profile {
  padding: 0.5rem;
}

.page:has(.site-header) {
  display: grid;
  grid-auto-rows: auto 1fr;
}

.page:has(.site-header):has(.tabs) {
  display: grid;
  grid-auto-rows: auto auto 1fr;
}

.sr-only {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

quiet-tooltip {
  pointer-events: none;
}

.background-pattern {
  background-color: var(--quiet-background-color);
  background-image:
    radial-gradient(var(--quiet-neutral-900) 0.5px, transparent 0.5px),
    radial-gradient(var(--quiet-neutral-900) 0.5px, var(--quiet-background-color) 0.5px);
  background-size: 10px 10px;
  background-position:
    0 0,
    5px 5px;
}

.background-gradient {
  background: radial-gradient(
    125% 125% at 50% 10%,
    var(--quiet-neutral-950) 40%,
    var(--quiet-neutral-900) 100%
  );
}

.disable-button {
  --unchecked-color: var(--quiet-destructive-text-colorful);
  --checked-color: var(--quiet-constructive-text-colorful);
}

.collapse-button {
  --unchecked-color: var(--quiet-text-body);
  --checked-color: var(--quiet-text-muted);
}

.block {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: inherit;

    h6,
    h5,
    fieldset {
      margin-bottom: 0;
    }

    button {
      padding: 0;
      background-color: white;

      svg {
        padding: 8px;
      }
    }
  }
}

[data-sortable] {
  > article {
    transition: opacity 200ms;
  }

  .sortable-ghost {
    opacity: 0.3;
  }
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

vscode-textfield {
  max-width: 100%;
}
